[Unit]
Description=calicoctl node

[Service]
EnvironmentFile=/etc/network-environment
User=root
PermissionsStartOnly=true
ExecStartPre=/usr/bin/calicoctl checksystem --fix
ExecStart=/usr/bin/calicoctl node --ip=${DEFAULT_IPV4}
RemainAfterExit=yes
Type=oneshot
